body {
  background-color: Teal;      /* pagal spalvų paletę arba "#008080"*/
  font-color: Silver;          /* viso teksto spalva*/
}
h1 {                          /* nereikės kaip class aprašyti 
    color: rgb(19, 82, 46);   /* skyriaus pavadinimų spalva*/
    text-align: center;      /* pavadinimų lygiuotė*/
    font-size: 16px;
  }
h3 {                             
    color: rgb(14, 51, 31);    /* skyriaus pavadinimų spalva*/
    text-align: center;        /* pavadinimų lygiuotė*/
    font-size: 22px;
   
  }
p {
    font-family: Verdana;        
    font-size: 16px;
  }


/* klasės -- priekyje dedame tašką - naudosim rašydami:  class ="tekstas"  */ 
.tekstas {
  max-width: 800px;
  color: white;
  margin: 20px auto;
  font-size: 16px;
  line-height: 1.5;
  text-align: justify;
}

.eile {
  display: flex;
  justify-content: center;
  gap: 10px;        /* kad mažiau liktų šonuose */ 
  margin: 10px;     /* kad mažiau liktų šonuose */ 
  flex-wrap: wrap; /* leidžia peršokti į kitą eilutę siauram ekranui */
}

.blokas {
  text-align: center;
  max-width: 300px;     /*  natūralų plotį galima 25% vietoj  200px*/
}

.blokas img {
                        /*width: 100%;*/
                      /* height: auto;*/
  height: 200px;      /* nustatytas vienodas aukštis */
  width: auto;        /* plotis prisitaiko proporcingai prie bloko, nes jis jo viduje   width: 100%; */
  object-fit: cover;  /* apkarpo, jei reikia, kad tilptų gražiai */
}
