 
body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  margin: 0;
}

h3, h4 {
  margin: 0;
  padding: 1em;
}
table  {
	border: 2px;
	font-family:"Lucida Sans Unicode","Lucida Grande",Sans-Serif;
	font-size:12px;
	margin:30px;
	text-align:center;
	width:80% 
   
  
  
}
table caption{

	color:#345233;
	font-size:18px;
	font-weight:normal;
	padding:18px;

}
table th {
	background-color: #bacfc7;
	color:#003399;
	font-size:16px;
	font-weight:normal;
	padding:14px;
}
table td {
	background-color:#d5eed9;
	border-top:1px solid #644545;
	color:#666699;
	padding:8px;
}