body {
  background-color: Teal;      /* pagal spalvų paletę arba "#008080"*/
  font-color: Silver;          /* viso teksto spalva*/
}
h1 {                          /* nereikės kaip class aprašyti 
    color: rgb(19, 82, 46);   /* skyriaus pavadinimų spalva*/
    text-align: center;      /* pavadinimų lygiuotė*/
    font-size: 16px;
  }
h3 {                             
    color: rgb(14, 51, 31);    /* skyriaus pavadinimų spalva*/
    text-align: center;        /* pavadinimų lygiuotė*/
    font-size: 22px;
   
  }
p {
    font-family: Verdana;        
    font-size: 12px;
  }


/* klasės -- priekyje dedame tašką - naudosim rašydami:  class ="box_dalis"  */ 
.box_veikla{
    float: left;
                          /*  background-color: silver;*/
    color: teal;
    width: 25%;
}

.pavadinimas{
    color:black;
    font-size: 40px;
    text-align: center;
    text-decoration: chocolate;
    text-decoration-line: underline;
    text-decoration-color: chocolate;
    text-decoration-style: wavy;   /*  banguota*/
}
.Antraštė1{
    color:tomato;
    font-size: 30px;
    text-align: left;
    text-decoration-line: underline;
    text-decoration-color: chocolate;
    text-decoration-style: solid;
}
.kitoks_tekstas{ /* jau bus kitoks negu <p>, ne Verdana ir ne 12px*/
    color: black;
    font-size: 20px;
    text-align: left;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; /*dagiau kai vienas žodis*/
}